/****************************************************************
Code Collaboration Page w/ CodeMirror
****************************************************************/
.CodeMirror {
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
}

#langContainer {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    margin: 10px;
    z-index: 1;
}

#langLabel {
    float: left;
    padding-right: 10px;
    width: 127px;
    font-size: 14px;
    white-space: none;
}

#langSelector {
    width: calc(100% - 147px);
}

@media (min-width:768px) {
    .CodeMirror {
        top: 130px;
    }
}