/****************************************************************
Code Collaboration Page w/ CodeMirror
****************************************************************/
.firepad {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
}

a.powered-by-firepad {
    display: none;
}

@media (min-width:768px) {
    .firepad {
        top: 140px;
    }
}

#langContainer {
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    padding: 10px;
    z-index: 1;
    background-color: white;
}

#langLabel {
    float: left;
    padding-right: 10px;
    padding-top: 5px;
    width: 127px;
    font-size: 14px;
    white-space: nowrap;
}

#langSelector {
    width: calc(100% - 147px);
    position: fixed;
}