/****************************************************************
Sitewide Styling 
****************************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

a {
    color: #D22030;
}

a:hover, a:active, a:focus {
    color: #a81926;
}

body {
    font-family: "Roboto", sans-serif;
}


/****************************************************************
Login Page 
****************************************************************/

.login-container {
    max-width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    max-height: 50px;
}
.form .submit-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #D22030;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form .submit-button:hover,.form .submit-button:active,.form .submit-button:focus {
    background: #a81926;
}

div#login-page {
    background: #D22030;
    height: 100%;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/****************************************************************
Nav-bar 
****************************************************************/

.navbar-collapse.navbar-ex1-collapse.collapse.in {
    text-align: center;
}


.navbar {
    background-color: #191919;
}

.navbar .navbar-brand,
.navbar .navbar-nav>li>a { 
    color:ghostwhite;
}

.navbar-toggle .icon-bar {
    background-color: ghostwhite;
}

.navbar-toggle {
    border-color: ghostwhite;
}

.navbar a.dropdown-item,
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus,
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus,
.navbar-toggle:hover, .navbar-toggle:focus{
    color: #dfdfe5;
}

.navbar .dropdown-menu, .navbar-nav .open .dropdown-menu,
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover,
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus,
.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: #2f2f2f;
}

.navbar a.dropdown-item {
    display: block;
    padding: 15px 30px;
}

.navbar a.dropdown-item:hover {
    text-decoration: none;
    background-color: #464646 !important;
}

.navbar .dropdown-menu {
    display: block;
    position: static;
    float: none;
    text-align: center;
    border: none;
}

.navbar .dropdown-menu hr {
    width: 90%;
    margin: auto;
    border-color: #464646;
}


@media(min-width:767px) {
    .navbar {
        padding: 0px;
    }
    
    .nav.navbar-nav {
        float: right;
    }
    
    .navbar-nav>li>a,
    .navbar-brand {
        padding-top: 35px;
        padding-bottom: 35px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    
    .top-nav-collapse .navbar-nav>li>a,
    .top-nav-collapse .navbar-brand {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .navbar .dropdown-menu {
        display: none;
    }
    
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        position: absolute;
        text-align: right;
        float: left;
        right: 0;
        left: initial;
        white-space: nowrap;
    }
}
