Requirements

Description: This document references our requirements documentation from
earlier in class and shows you where we are at with those requirements.

-Requirements being met:
	-Class Creation
        -Creation
        -UI
        -Assignment
        -Announcement
	-Login/Homepage
        -Login Page
        -Navigation Bar
	-Code Collaboration Tool
        -Screen Sharing
		-Private Sessioning
    -Login/Homepage
        -Homepage
	-Virtual Classroom
        -Attendance
    
-Requirements being discarded:
	-Class Creation
		-Calendar
        -Grading Rubric
	-Code Collaboration Tool
        -Github Access
        -System Access
        -Download Finished Code
	-Virtual Classroom
        -Whiteboard
        -Quiz
	-Code Repository
        -File viewer
        -Uploading Files
